@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

:root {
  --main: #fffb00;
  --light: #f4f4f4;
  --dark: #222;
}

html {
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: url("../img/bg.jpg");
  background-color: var(--light);
}

.navbar {
  overflow: hidden;
  background-color: var(--dark);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid var(--main);
}
  
.navbar a {
  float: right;
  display: block;
  color: var(--light);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--main);
  transform: scale(1.05);
}

.menu {
  color: var(--main);
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.menu:hover {
  cursor:pointer;
}

/*Side-nav*/
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: var(--dark);
  overflow: hidden;
  opacity: 0.96;
  z-index: 99;
}

.side-nav a {
  padding: 7px;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--light);
  display: block;
  transition: all 0.3s;
  margin-top: .8rem;
  white-space: nowrap;
}
.side-nav a:hover, .side-nav .btn-close:hover {
  color: var(--main);
  cursor: pointer;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right:22px;
  font-size: 36px;
  margin-top: 1rem;
  margin-left: 2rem;
  animation: fade-in 1s forwards;
  background-color: var(--dark);
  border: none;
  color: var(--light);
}

.link-div {
  text-align: center;
}

a {
  color: var(--main);
}

a:visited {
  color: var(--main);
}

.btn-back-to-top {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 10px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  color: var(--main);
  background-color: var(--dark); 
  cursor: pointer; 
  padding: 1.2rem; 
  border-radius: 50%; 
  font-size: 1rem;
  box-shadow: 0 0 15px 1px var(--main);
}

.btn-back-to-top:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--dark);
  color: var(--main);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--main);
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
}

.close {
  color: var(--main);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.form-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem 1.5rem;
  background-color: #222;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px var(--main);
}
.form-wrapper h1{
  font-size: 40px;
  margin-bottom: 50px;
  padding: 0.5rem 0;
  text-align: center;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--main);
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1.2rem;
  width: 80%;
  float: left;
  margin: 0 10px;
  caret-color: var(--main);
}

.btn-wrapper {
  text-align: center;
}

.btn{
  width: 70%;
  border: 2px solid var(--main);
  background-color: var(--main);
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.3rem 1rem;
  border-radius: 2rem;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px var(--main);
}

#movies-table {
  color: white;
  width: 80%;
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: #222;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px var(--main);
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
}


#movies-table .movie-card {
  width: 12rem;
  height: 18rem;
  border: 1px solid var(--main);
  display: inline-block;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 8px 8px var(--main);
}

.movie-card .btn{
  position: relative;
  border-radius: 50%;
  width: 20%;
  border: 2px solid black;
}

table {
  border-collapse: collapse;
}

th {
  height: 4rem;
  text-align: left;
  vertical-align: center;
}

th, td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--main);
}

tbody {
  color: #333;
}

#users-table_wrapper {
  background-color: #222;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px var(--main);
  height: 36rem;
  width: 26rem;
}

#users-table_length, #users-table_filter,
#users-table_info, #users-table_paginate {
  color: white !important;
}

/*KEYFRAMES*/
@keyframes fade-in{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/*MEDIA QUERIES*/
@media(max-width: 760px) {
  nav {
      height: 6rem;
  }

  .menu {
      transform: scale(1.1);
      margin-top: 0.5rem;
  }
  .menu:hover {
      transform: scale(1.2);
  }

  .navbar a {
      display: none;
  }
}

@media(min-width: 761px) {
  .menu {
      display: none;
  }
  
}